extends layout

block content
  nav(class="navbar navbar-default")
    div(class="container-fluid")
      div(class="navbar-header")
        a(class="navbar-brand", href="/")
          img(alt="uMess", src="/images/icon.png", width="20px", height="20px")
        div(class="navbar-brand").umess-brand.
          uMess
      div(class="collapse navbar-collapse", id="bs-example-navbar-collapse-1")
        ul(class="nav navbar-nav navbar-right")
          li
            a(href="/signup").
              S'inscrire
  div(class="container-fluid").signin
    div(class="row").padrow
      div(class="col-md-6")
        h1.
          Bienvenue sur uMess
        p.
          Le réseau uMess est un nouveau réseau social des étudiants
          de l'Université de Strasbourg.
        p.
          Pour partager vos pensées sous forme des messages instantanées
          il vous suffit de vous iscrire et vous connecter ensuite à chaque
          fois que vous décider de faire part de vos nouvelles à vos camarades.
      div(class="col-md-6")
        h1.
          Connexion
        p.
          Utiliser vos identifiants personnels pour vous connecter.
        form(class="form-horizontal", action="/login", method="POST")
          div(class="form-group")
            label(for="inputText3", class="col-sm-5 control-label") Nom d'utilisateur
            div(class="col-sm-7")
              input(type="text", class="form-control", id="inputText3", placeholder="Nom d'utilisateur", name="username")
          div(class="form-group")
            label(for="inputPassword3", class="col-sm-5 control-label") Mot de passe
            div(class="col-sm-7")
              input(type="password", class="form-control", id="inputPassword3", placeholder="Mot de passe", name="password")
          div(class="form-group")
            div(class="col-sm-offset-2 col-sm-10")
              button(type="submit", class="btn btn-default") Se connecter
  div(class="container-fluid").footer-index
    div(class="row")
      div(class="col-sm-12")
        &copy; 2015 uMess team. Tous droits réservés.
