.menu {
	background-image: url(../images/bkg-bottom-panel.png);
	background-repeat: repeat;
}

body {
  background-image: url(../images/body-backg.jpg);
	background-repeat: no-repeat;
	background-attachment:fixed;
	background-position:center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

a {
  color: #00B7FF;
  background-color: none;
}

.header {
	background-color: #6699FF;
}

.menu {
	background-image: url(../images/bkg-bottom-panel.png);
	background-repeat: repeat;
	font-family: "Exo", sans-serif;
	font-size: 18px;
	font-weight: 900;
	color: #FFFFFF;
}

nav.navbar {
	border-radius: 0px;
	font-family: "Exo", sans-serif;
}



.profile-im-text {
	font-size: 14px;
}

h1 {
	font-weight: 900;
}

.img-center {
	text-align: center;
}

.tweeting {
	color: #FFFFFF;
	font-family: "Exo", sans-serif;
	font-size: 14px;
}

.un {
	font-weight: 900;
	margin: 0px;
	padding: 0px;
}

.dpt {
	font-weight: 300;
	margin: 0px;
	padding: 0px;
}

.black {
	color: #000000;
}